{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h3><strong>НОВОСТИ</strong> </h3>
<br><h5><strong>
            <a href="create/"> <input type="submit" value="Написать новость" /></a>
        </strong></h5>
<hr>
{% for post in Posts %}
<table>
     <tr>
     <td width="800"  align="left" style="font-size:16px"><strong><a href="/news/{{ post.pk }}">{{ post.title }}</a></strong></td>
     <td style="font-size:10px">({{ post.dateCreation|date:'d M Y' }}):<br>
     рейтинг : {% if post.rating != 0 %}{{ post.rating }}{% else %}0{% endif %} </td>
     <td align="center"><a href="{{ post.pk }}/edit/"><input type="submit" value="редактировать" /></a>
         <a href="{{ post.pk }}/delete/"><input type="submit" value="удалить" /></a></td>
     </tr>
</table>
<hr>
{% endfor %}

{% endblock content %}