{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
SeeArhive
{% endblock title %}

{% block content %}
<h5><strong>ПОИСК СТАТЕЙ И НОВОСТЕЙ</strong></h5>
<hr>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<hr>
{% for post in SeeArhive %}
<table>
     <tr>
     <td width="800"  align="left" style="font-size:16px"><strong>{{ post.title }}</strong></td>
     <td style="font-size:10px">({{ post.dateCreation|date:'d M Y' }}):</td>
     <td><a href="{{ post.pk }}">{{ post.preview }}</a></td>
     </tr>
</table>
<hr>
{% endfor %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
